<section>
  <form action="#">
    <fieldset>
      <include
        src="./colapsable.html"
        iconStart="far fa-object-ungroup"
        title="Diseña"
        iconEnd="fas fa-chevron-down"
      ></include>
      <label for=""> Colores </label>
    </fieldset>
    <fieldset>
      <include
        src="./colapsable.html"
        iconStart="far fa-keyboard"
        title="Rellena"
        iconEnd="fas fa-chevron-down"
      ></include>
      <label for="name">Nombre completo</label>
      <input type="text" placeholder="Ej. sally jill" name="name" />
      <label for="">Puesto</label>
      <input type="text" placeholder="Ej. Front-end unicorn" />
      <label for="">Imagen de perfil</label>
      (botton)
      <label for="">Email</label>
      <input type="email" placeholder="Ej. sally-hill@gmail.com " />
      <label for="">Teléfono</label>
      <input type="tel" placeholder="Ej: 555-55-55-55 " />
      <label for="">Linkedin</label>
      <input type="text" placeholder="Ej. linkedin.com/in/sally.hill" />
      <label for="">Github</label>
      <input type="text" placeholder="Ej: @sally-hill" />
    </fieldset>
    <fieldset>
      <include
        src="./colapsable.html"
        iconStart="fas fa-share-alt"
        title="Comparte"
        iconEnd="fas fa-chevron-down"
      ></include>
      <button><i class="far fa-address-card"></i> Crear tarjeta</button>
    </fieldset>
  </form>
</section>
