<section class="section_form">
  <form action="#" class="form">
    <fieldset>
      <include src="./colapsable.html" iconStart="far fa-object-ungroup" title="Diseña" iconEnd="fas fa-chevron-up">
      </include>
      <div class=" js_content hidden">
        <label for="color_palette"> Colores </label>
        <ul>
          <include src="./colors-palette.html" orderList="first_palette" value="1" color_palette= "color_pallete_1">
          </include>
          <include src="./colors-palette.html" orderList="second_palette" value="2" color_palette= "color_pallete_2">
          </include>
          <include src="./colors-palette.html" orderList="third_palette" value="3" color_palette= "color_pallete_3">
          </include>
        </ul>
      </div>
    </fieldset>
    <fieldset>
      <include src="./colapsable.html" iconStart="far fa-keyboard" title="Rellena" iconEnd="fas fa-chevron-up">
      </include>
      <div class="js_content hidden">
        <label for="name" class="label">Nombre completo</label>
        <input type="text" placeholder="Ej. sally jill" name="name" id="name" class="input js_name" />
        <label for="work" class="label">Puesto</label>
        <input type="text" placeholder="Ej. Front-end unicorn" name="work" id="work" class="input js_input_job" />
       <label for="image" class="label">Imagen de perfil</label>
       <div class="action">
       <label class="action__upload-btn" for="img-selector">Añadir Imagen</label>
       <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn">
       </div>
       <div class="profile">
       <div class="profile__preview js__profile-preview"></div>
       </div>
        <label for="email" class="label">Email</label>
        <input type="email" placeholder="Ej. sally-hill@gmail.com " name="email" id="email"
          class="input js_input_mail" />
        <label for="phone" class="label">Teléfono</label>
        <input type="tel" placeholder="Ej: 555-55-55-55 " name="phone" id="phone" class="input" />
        <label for="linkedin" class="label">Linkedin</label>
        <input type="text" placeholder="Ej. linkedin.com/in/sally.hill" name="linkedin" id="linkedin" class="input" />
        <label for="github" class="label">Github</label>
        <input type="text" placeholder="Ej: @sally-hill" name="github" id="github" class="input" />
      </div>
    </fieldset>
    <fieldset>
      <include src="./colapsable.html" iconStart="fas fa-share-alt" title="Comparte" iconEnd="fas fa-chevron-up">
      </include>
      <div class=" js_content hidden">
        <button class="button__card">
          <i class="far fa-address-card"></i> Crear tarjeta
        </button>
      </div>
    </fieldset>
  </form>
</section>