<section class="main__cards">

    <button class="main__cards--button"><i class="far fa-trash-alt"></i> Reset</button>
    <section class="main__cards--section">
        <div class="grid-sidebar">
            <div class="main__cards--section__sidebar"></div>
            <h1 class="main__cards--section__title1">Nombre Apellido</h1>
            <h2 class="main__cards--section__title2">Front-end developer</h2>
        </div>

        <img class="main__cards--section__img" src="./assets/images/jabbascript-social.jpg" alt="profile-image" />
        <nav>
            <ul class="main__cards--section__links">
                <li><a class="main__cards--section__links--item" href=""><i class="fas fa-mobile-alt"></i></a></li>
                <li><a class="main__cards--section__links--item" href=""><i class="far fa-envelope"></i></a></li>
                <li><a class="main__cards--section__links--item" href=""><i class="fab fa-linkedin-in"></i></a></li>
                <li><a class="main__cards--section__links--item" href=""><i class="fab fa-github-alt"></i></a></li>
            </ul>
        </nav>
    </section>
</section>