<main>
  <section class="main__landing--box">
    <h1 class="main__landing--title" Crea tu tarejta de visita></h1>
    <h2 class="main__landing--subtitle" Crea mejores contactos profesionales de forma fácil y cómoda></h2>
    <div class="main__landing--rectangule">
      <i class="far fa-object-ungroup"><h2> diseña</h2></i>
      <i class="far fa-keyboard"><h2> rellena</h2></i>
      <i class="fas fa-share-alt"><h2> comparte</h2></i>
    </div>
    <button class="main__landing--button">comenzar<a href="./form-cards.html"></a></button>
  </section>

</main>