<section class="main__cards">
  <button class="main__cards--button js_resetbutton">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <section class="main__cards--section">
    <div class="grid-sidebar">
      <div class="main__cards--section__sidebar"></div>
      <h1 class="main__cards--section__title1 js_name_cards">
        Nombre Apellido
      </h1>
      <h2 class="main__cards--section__title2 js_job">Front-end developer</h2>
    </div>

    <img
      class="main__cards--section__img"
      src="./assets/images/jabbascript-social.jpg"
      alt="profile-image"
    />
    <nav>
      <ul class="main__cards--section__links">
        <li>
          <a class="main__cards--section__links--item js-icon-circle" id="mobile_link" href="tel:"
            ><i class="fas fa-mobile-alt js-icon"></i
          ></a>
        </li>
        <li>
          <a class="main__cards--section__links--item js-icon-circle" id="mail_link" target="blank" href="mailto:"
            ><i class="far fa-envelope js-icon"></i
          ></a>
        </li>
        <li>
          <a class="main__cards--section__links--item js-icon-circle" id="linkedin_link" target="blank" href=""
            ><i class="fab fa-linkedin-in js-icon"></i
          ></a>
        </li>
        <li>
          <a class="main__cards--section__links--item js-icon-circle" id="github_link" target="blank" href=""
            ><i class="fab fa-github-alt js-icon"></i
          ></a>
        </li>
      </ul>
    </nav>
  </section>
</section>
