<main>
  <section class="main__landing--box">
    <h1 class="main__landing--title">Crea tu tarjeta de visita</h1>
    <h3 class="main__landing--subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h3>
    <div class="main__landing--rectangule">
<article class="icon__designs">
     <p><i class="far fa-object-ungroup dull-orange"></i>Diseña</p>
    </article>
      <i class="far fa-keyboard dull-orange"></i>
      <h3 class="fill">Rellena</h3>

      <i class="fas fa-share-alt"></i>
      <h3 class="share">Comparte</h3>


    </div>
    <button class="main__landing--button">
      <h2 class="text__button"> comenzar<a href="./form-cards.html"></a></h2>
    </button>
  </section>

</main>