<section class="main__cards">
  <button class="main__cards--button js_resetbutton">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <section class="main__cards--section js-preview palette1">
    <div class="grid-sidebar">
      <div class="main__cards--section__sidebar"></div>
      <h1 class="main__cards--section__title1 js_previewtext js_title">
        Nombre Apellido
      </h1>
      <h2 class="main__cards--section__title2 js_previewtext js_job">
        Front-end developer
      </h2>
    </div>
    <div
      class="main__cards--section__img profile__image js__profile-image"
    ></div>
    <nav>
      <ul class="main__cards--section__links">
        <li>
          <a
            class="main__cards--section__links--item js-icon-circle"
            id="mobile_link"
            href=""
            ><i class="fas fa-mobile-alt js-icon"></i
          ></a>
        </li>
        <li>
          <a
            class="main__cards--section__links--item js-icon-circle"
            target="blank"
            id="mail_link"
            href=""
            ><i class="far fa-envelope js-icon"></i
          ></a>
        </li>
        <li>
          <a
            class="main__cards--section__links--item js-icon-circle"
            id="linkedin_link"
            target="blank"
            href=""
            ><i class="fab fa-linkedin-in js-icon"></i
          ></a>
        </li>
        <li>
          <a
            class="main__cards--section__links--item js-icon-circle"
            id="github_link"
            target="blank"
            href=""
            ><i class="fab fa-github-alt js-icon"></i
          ></a>
        </li>
      </ul>
    </nav>
  </section>
</section>
