.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $whitetwo;
  border: 1px solid #d8d8d8;
  width: 100%;
  height: 20vh;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35%;
  }

  &__copyright {
    color: $brownishgrey;
    font-size: 14px;
    line-height: 20px;
    font-family: $mainfont;
    margin-top: 18px;
    @media all and (min-width: 768px) {
      margin-top: 0;
      margin-left: 41px;
    }
  }
  &__image {
    width: 103px;
    height: 40px;
    margin-top: 12px;
    @media all and (min-width: 768px) {
      margin-top: 0;
      margin-right: 40px;
    }
  }
}
