.header {
  background-color: $whitefour;
  display: flex;
  justify-content: center;
}

.cards {
  margin-top: 93px;
  margin-bottom: 40px;
  width: 250px;
  height: 64px;
  @media all and (min-width: 768px) {
    margin-top: 350px;
    margin-bottom: 31px;
    width: 419px;
    height: 105px;
  }
}
