.header {
  background-color: $whitefour;
  width: 100%;

  &_index {
    display: flex;
    justify-content: center;
    height: 25vh;
    @media all and (min-width: 768px) {
      height: 20%;
    }

    .cards {
      margin-top: 93px;
      margin-bottom: 40px;
      width: 250px;
      height: 63px;
      @media all and (min-width: 768px) {
        width: 419px;
        height: 105px;
        align-items: center;
      }
    }
  }
  &_cards {
    background-color: $whitetwo;
    .cards {
      margin-top: 31px;
      margin-bottom: 30px;
      margin-left: 40px;
      width: 201px;
      height: 50px;
    }
  }
}
