.header {
  background-color: $whitefour;

  &_index {
    display: flex;
    justify-content: center;
    .cards {
      margin-top: 93px;
      margin-bottom: 40px;
      width: 250px;
      height: 63px;
      @media all and (min-width: 768px) {
        margin-top: 350px;
        margin-bottom: 31px;
        width: 419px;
        height: 105px;
      }
    }
  }
  &_cards {
    background-color: $whitetwo;
    .cards {
      margin-top: 31px;
      margin-bottom: 30px;
      margin-left: 40px;
      width: 201px;
      height: 50px;
    }
  }
}
